<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>留言板</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		
		{{{body}}}

	<script type="text/javascript" src="/js/jQuery.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>