<div class="container preview ">
			<div class="aimg">
				<img src="/img/5OPX2[MRAGSAAQ26~K)SZ7Y.jpg">
			</div>
			<div class="atext">
			<!--<div class="like">
				<i class="iconfont">&#xe601;</i>
			</div>-->
				<div class="atextp">
					<p>此刻，我多想拥抱你，可惜时光里山南水北，可惜你我间人来来往。</p>
				</div>
				<div class="atexti">
					<div class="at">
						<i class="iconfont">&#xe601;</i>
						<p>天气</p>
					</div> 
					<div class="at at1">
						<i class="iconfont time">&#xe604;</i>
						
					</div>
					<div class="at at1 ">
						<i class="iconfont loca">&#xe603;</i>
						
					</div>
				</div>
			</div>
		</div>
		<form class="container edit " role="form" action="#" method="POST">
			<div class="bicon">
				<i class="iconfont">&#xe602;</i>
			</div>
			<div class="atext">
				<textarea class="atexta" name="message" id="message"></textarea>
				<button class="send" type="submit">
						<i class="iconfont">&#xe605;</i>
				</button>
			</div>
		</form>